:root {
  --background-primary-color:#f8fcde;
  --background-secondary-color: #c7d664;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.App {
  text-align: left;
  margin-top: 20px;
}

.Weather-app{
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--background-primary-color)
}

.location-serch-wrapper{
  margin-top: 0;  
  padding: 10px;
}


  .current-city-temterature img {
    margin-right: 10px;
    height: 60px;
    width: 60px;
  }
  .current-city-temterature strong {
    color: #212529;
    font-size: 55px;
    line-height: 60px;
    font-weight: 600;
  }
  .current-city-temterature .units {
    position: relative;
    font-size: 16px;
    top: -10px;
  }
  .next-day {
   background-color: #EDFFC4;
  margin: 15px 12px;
  padding: 5px;
  border: 1px solid #B3F716;
  border-radius: 10px;
  }
  
 h1 {
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 10px;
}
.weather-app {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  background-color: #F8FCDE;
  }



#city-input{
  border: 1px solid #BFBED8;
}
#search-button{
  display: block;
  border: 1px solid #BFBED8;

}
.weather-temperature img {
  margin-right: 10px;
  height: 60px;
  width: 60px;
}
.weather-temperature strong {
  color: #212529;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -28px;
}
.weather-forecast {
 
  text-align: center;
  line-height: 30px;
  display: inline;
  
  
}

 
  

.weather-forecast-date {
  font-size: 16px;
  color: #009CDA;
  opacity: 0.7;
 
  
}
.weather-forecast-temperature-night{
  opacity: 0.5;
}
.weather-forecast-temperature{
  font-size: 14px;
}
 


