:root {
  --background-primary-color:#f8fcde;
  --background-secondary-color: #c7d664;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.App {
  text-align: left;
  margin-top: 20px;
}

.Weather-app{
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--background-primary-color)
}

.location-serch-wrapper{
  margin: 0 auto;  
  padding: 10px;
}


  .current-city-temterature img {
    margin-right: 10px;
    height: 60px;
    width: 60px;
  }
  .current-city-temterature strong {
    color: #212529;
    font-size: 55px;
    line-height: 60px;
    font-weight: 600;
  }
  .current-city-temterature .units {
    position: relative;
    font-size: 16px;
    top: -10px;
  }


